.encabezado{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.encabezado2{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
}

.encabezado3{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 120px;
    color: white;
}

.imagen{
    display: flex;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: -18px;
}

h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

h3{
    font-size: 24px;
    color: #f9faf8;
}

.cita{
    font-size: 36px;
    color: #1f2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    background-color: #e5e7eb;
    padding: 100px 200px 100px 300px;
}

.autor{
    text-align: right; /* Alinea el texto a la derecha */
    margin-top: 10px; /* Agrega un pequeño margen superior */
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}

.pie{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 40px;
}

.button{
    width: max-content;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    min-height:30px; 
    min-width: 120px;
}

.button2{
    width: max-content;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: solid white;
    padding: 8px;
    border-radius: 8px;
    max-height:35px; 
    min-width: 120px;
}

.imagenes{
    display: flex;
}

.cierre{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 50px;
}

.boton{
    display: flex;
    align-items: center;
}

.call{
    font-size: 22px;
    color: white;
    font-weight: bolder;
}

.sing{
    font-size: 18px;
    color: white;
}

ul{
    list-style: none;
}

#bird, #ardilla, #gato, #rana{
    height: 150px;
    width: 150px;
    border: solid #3882f6;
    border-width: 5px;
    border-radius: 20%;

}

.imagenes{
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}

figcaption{
    text-align: center;
}